/*CSS file for login page */
/*I have rewritten the CSS files myself using simpler code and explanations based on what I learned.*/

*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
display:flex;
justify-content: center;
align-items:center;
background:#f3f5f9;
overflow-x:hidden;
}

.login-container{
    width:900px;
    height: 100vh;
    background:#fff;
    border-radius:10px;
    box-shadow:0 0 10px 30px rgba(0,0,0,0.1);
    overflow:hidden;
    display: flex;
}
/*left column for image and right column for form */
.left-column{
    width:50%;
    background:#1ea0e3;
    display: flex;
    justify-content: center;
    align-items:center;
    flex:1;
}
.left-column img{
    width:80%;
    border-radius:10px;
}

.right-column{
background:#eef2f7;
padding:60px 50px;
display: flex;
flex-direction: column;
justify-content: center;
flex:1;
}

.right-column h2{
    margin-bottom:10px;
    font-size:2rem;
    text-align: center;
}

.subtitle{
    margin-bottom:30px;
    color:cadetblue;
    text-align: center;
}
/* form styles */
form{
    display: flex;
    flex-direction:column;
}
label{
    font-size:14px;
    margin-bottom:3px;
    color:#444444;
}

input{
    background: white;
    padding:12px;
    margin-bottom:20px;
    box-shadow:0 2px 5px rgba(0,0,0,0.05);
    border:none;
    border-radius:6px;
}
button{
    background:linear-gradient(90deg,#1ea0e3,#0b7cc4);
    color:#fff;
    padding:12px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}
 button:hover{
    opacity: 0.9;
 }
.forgot{
    text-align: right;;
    margin-bottom:10px;
}

.forgot a{
    text-decoration: none;;
    font-size:13px;
    color: #555;
}

.register{
   text-align: center;
   font-size:14px;
   margin-top:40px; 
}
.register a{
    text-decoration:none;
    color:#1ea0e3;
}


/* RESPONSIVE DESIGN */
@media (max-width:768px){
    .login-container{
        flex-direction: column;
        width:100%;
        height:auto;
    }
    .left-column{
     height:425px;
     width:auto;
    }
    .right-column{
        padding:20px;
        overflow-y: auto;
    }
}