*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* BODY STRUCTURE*/
body{
background:#f3f5f9;
height:100vh; 
display:flex;
justify-content:center;
align-items:center;
overflow-x:hidden;
}

/* MAIN CARD */

.login-container{
display:flex;
width:900px;
min-height:500px;
background:white;
border-radius:10px;
overflow:hidden;
box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

/* LEFT SIDE */
/* The flex property is a shorthand property for:
flex-grow,flex-shrink,flex-basis
The flex property sets the flexible length on flexible items.*/
.left-column{
flex:1;
background:#1ea0e3;
display:flex;
justify-content:center;
align-items:center;
}

.left-column img{
width:280px;
}

/* RIGHT SIDE Content */

.right-column{
flex:1;
padding:60px 50px;
background:#eef2f7;
display:flex;
flex-direction:column;
justify-content:center;
}

.right-column h2{
font-size:28px;
margin-bottom:5px;
}

.subtitle{
color:#666;
margin-bottom:30px;
}

/* FORM STYLES*/
form{
display:flex;
flex-direction:column;
}

label{
font-size:14px;
margin-bottom:5px;
color:#444;
}

input{
padding:12px;
margin-bottom:20px;
border:none;
border-radius:6px;
background:#fff;
box-shadow:0 2px 5px rgba(0,0,0,0.05);
}

.forgot{
text-align:right;
margin-bottom:20px;
}

.forgot a{
font-size:13px;
text-decoration:none;
color:#555;
}

button{
padding:14px;
background:linear-gradient(90deg,#1ea0e3,#0b7cc4);
border:none;
border-radius:8px;
color:white;
font-size:16px;
cursor:pointer;
}

button:hover{
opacity:0.9;
}

.register{
text-align:center;
margin-top:20px;
font-size:14px;
}

.register a{
color:#1ea0e3;
text-decoration:none;
}

/* RESPONSIVE DESIGN */
@media (max-width:768px){

.login-container{
/* For smaller screens, we stack the left and right sections vertically */
flex-direction:column;
min-height: auto;
width:100%;
}

.left-column{
height:220px;
}

.right-column{
padding: 25px;
overflow-y:auto;
}

}