*{
  
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:20px;
}
body{
    background-color: orange;
}
.head{
    color:darkblue
}
#bglime{
    background-color: lime;
}
#para{
    color:green
}
 p{
    font-size: large;
    color:white;
 }
 ol > li:nth-child(2){
    color:blue;
 }
 ol > li:nth-child(3){
    color:red;
 }